<nav class="navbar">
  <a class="navbar-brand" href="/">
    <h1>Greatest Way</h1>
  </a>

  {{#if originLat}}
  <div class="map-form">
    <input type="text" class="form-control mx-2" id="origin" placeholder="Origin"
      value="{{#if originLat}}{{originAddress}}{{/if}}">
    <input type="text" class="form-control mx-2" id="destination" placeholder="Destination"
      value="{{#if originLat}}{{destinationAddress}}{{/if}}">
    <button type="button" class="btn btn-salmon mx-2" id="submit">Go</button>
  </div>
  {{/if}}

  <form action="/user/google" method="post">
    <button class="btn btn-danger btn-block" type="submit"><i class="fab fa-google"></i> Login</button>
  </form>
</nav>


<div {{#if originLat}}hidden{{/if}} class="background">
  <div class="container main-container">
    <div class="main-title">
      <h2>The Greatest Way to move between two locations</h2>
      <h4>Find the fastest, shortest or healthiest route</h4>
    </div>
    <div class="main-form">
      <input type="text" class="form-control mx-2" id="origin" placeholder="Origin"
        value="{{#if originLat}}{{originAddress}}{{/if}}">
      <input type="text" class="form-control mx-2" id="destination" placeholder="Destination"
        value="{{#if originLat}}{{destinationAddress}}{{/if}}">
      <button type="button" class="btn btn-salmon mx-2" id="submit">Go</button>
    </div>
  </div>
</div>


<div {{#if originLat}}{{else}}hidden{{/if}} class="main-info row">
  <div class="card-wrapper">
    {{#each trips as |trip| }}
    <div class="card m-auto" id="{{trip.kind}}">
      <i class="{{get-src-icon trip}}"></i>
    </div>
    <div class="box-info {{trip.kind}}-box list-group-flush">
      <h5 class="list-group-item">{{trip.kind}}</h5>
      <p class="list-group-item">Distance: {{trip.distance}} km</p>
      <p class="list-group-item">Trip duration: {{get-trip-duration trip}}</p>
      {{get-additional-info trip}}
    </div>
    {{/each}}
    <div id="kind-buttons">
      <ul>
        <li><button type="button" class="btn-salmon" id="fastest">Fast</button></li>
        <li><button type="button" class="btn-bottom" id="shortest">Short</button></li>
        <li><button type="button" class="btn-bottom" id="healthy">Healthy</button></li>
      </ul>
    </div>
  </div>
  <div id="map"></div>
</div>


{{!-- <div class="container" id="card-container-info">
  <div class="card-wrapper">
    {{#each trips as |trip| }}
    <div class="card col-3 list-group-flush" id="{{trip.kind}}">
      <div class="m-auto">
        <img src="{{get-img-src trip}}" alt="{{trip.kind}}" data-toggle="tooltip" data-placement="top"
          title="{{trip.kind}}">
      </div>
      <p class="list-group-item">Distance: {{trip.distance}} km</p>
      <p class="list-group-item">Trip duration: {{get-trip-duration trip}}</p>
      {{get-additional-info trip}}
    </div>
    {{/each}}
  </div>
</div> --}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript" src="/javascripts/getLatLong.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?v=quarterly&libraries=places&key=AIzaSyDyD6rAGh4lTrj28b5TpiZdM7OgtEBpuwU&callback=initMap"></script>
{{#if originLat}}
<script>
  addRoute({{ originLat }}, {{ originLng }}, {{ destinationLat }}, {{ destinationLng }}, 'DRIVING');
  addCardListeners({{ originLat }}, {{ originLng }}, {{ destinationLat }}, {{ destinationLng }});
  activeKindButton('{{tripMode}}');
</script>
{{/if}}